*{
    box-sizing: border-box;
    font-family: Roboto;
    color: white;
}


body{
    margin: 0;
    background-image: linear-gradient(to bottom right, #2ba7ff, #b753c2);
    background-attachment: fixed;
    text-align: center;
}

.header{
    font-size: 48px;
    font-weight: 900;
    color: white;
    height: 100px;
    padding: 20px;
}

.results{
    font-weight: 500;
}

.scoreboard{
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    padding: 0 30vw 0 30vw;
}

.scoreboard>div{
    margin: 10px;
}

.buttonImg{
    width: 100px;
    height: 100px;
}

.mybutton{
    border: 0;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.replay{

    font-size: 18px;
    font-weight: 500;
    margin: 20px;
    height: 40px;
    width: 125px;
    border: 0;
    border-radius: 5px;
}
